<link rel="stylesheet" href="/css/user_profile.css">  

<img src="<%= user.avatar %>" alt="<%= user.name %>" width="100">

<% if (user.id == user_profile.id) { %>
    <form action="/users/update-profile/<%= user_profile.id %>" enctype="multipart/form-data" method="post">
        <input type="text" name="name" placeholder="new name" required>
        <input type="email" name="email" placeholder="new email" required>
        <input type="file" name="avatar" placeholder="profile picture">
        <input type="submit" value="update">
    </form>
<% } else { %>
    <p><%= user_profile.name %></p>
    <p><%= user_profile.email %> </p>
<% } %>